
name: CI

on:
  pull_request:

jobs:

  warm-cache:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Warm Cache
        uses: ./.github/actions/warm-cache

  compiles-on-all-platforms:
    needs: warm-cache
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Cache dependencies
        uses: ./.github/actions/sbt-cache
      - name: Compile
        run: sbt +test:compile

  example-compiles:
    needs: warm-cache
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Cache dependencies
        uses: ./.github/actions/sbt-cache
      - name: Compile
        run: sbt example/test:compile
      - name: WebComp
        run: sbt example-ui/webComp

  test-jvm:
    needs: warm-cache
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Cache dependencies
        uses: ./.github/actions/sbt-cache
      - name: Build and Test
        run: sbt +jvm-test

  integration-test:
    needs: warm-cache
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Cache dependencies
        uses: ./.github/actions/sbt-cache
      - name: Build and Test
        run: sbt +it/test

  fix-todo:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check for fix todo
        run: bash scripts/check-for-fix.sh

  check-formatting:
    needs: warm-cache
    runs-on: ubuntu-22.04
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Cache dependencies
        uses: ./.github/actions/sbt-cache
      - name: Check formatting
        run: sbt fmt-check
