
name: Release

on:
  push:
    branches: ['main']
    tags: ["*"]

jobs:

  warm-cache:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    env:
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Warm Cache
        uses: ./.github/actions/warm-cache

  publish:
    needs: warm-cache
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: openjdk@1.17
      - name: Cache dependencies
        uses: ./.github/actions/sbt-cache
      - name: Pre-Release Compile Run
        run: sbt +compile
      - name: Release
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
